.filepond--root {
  font-family: "El Messiri";
  label {
    @apply cursor-pointer;
  }
}

.button {
  @apply
    bg-green-600
    rounded-md
    text-gray-200
    border-b-4
    border-green-700
    text-sm
    font-bold
    mt-4
    p-4
    tracking-wider;
  &:active, &:focus {
    @apply border-b-2 opacity-75;
  }
}

.text-field {
  @apply block border border-gray-300 w-full p-3 rounded mb-4;
}

.bg-pink-light {
  background-color: #FDE8E8;
}

.bg-gray-oi {
  background-color: #040505;
}

.onlyinsta-background-gradient {
  background: linear-gradient(180deg, #FDE8E8 61.17%, #FFFFFF 86.3%);
}

.padding-bottom-full {
  padding-bottom: 100%;
}

.transparent-background-shadow {
  &::before {
    @apply absolute top-0 left-0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 120%;
    background: linear-gradient(to bottom, #000000d9, rgba(0, 0, 0, 0));
  }
}
