.filepond--root {
  font-family: "El Messiri";
  label {
    @apply cursor-pointer;
  }
}

.base-button {
  @apply text-red-800 font-medium text-base bg-white py-3 px-6 outline-none rounded-full;
  &:hover {
    @apply bg-red-100;
  }
  &:focus {
    @apply outline-none bg-red-100;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

.button {
  @apply
    bg-green-600
    rounded-md
    text-gray-200
    border-b-4
    border-green-700
    text-sm
    font-bold
    mt-4
    p-4
    tracking-wider;
  &:active, &:focus {
    @apply border-b-2 opacity-75;
  }
}

.text-field {
  @apply block border border-gray-300 w-full p-3 rounded mb-4;
}

.bg-pink-light {
  background-color: #FDE8E8;
}

.bg-gray-oi {
  background-color: #040505;
}

.onlyinsta-background-gradient {
  background: linear-gradient(180deg, #FDE8E8 61.17%, #FFFFFF 86.3%);
}

.padding-bottom-full {
  padding-bottom: 100%;
}

.transparent-background-shadow {
  &::before {
    @apply absolute top-0 left-0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 120%;
    background: linear-gradient(to bottom, #000000d9, rgba(0, 0, 0, 0));
  }
}

.pink-gradient-background {
  background: linear-gradient(267.22deg, #E74694 -2.06%, #64748B 130.32%);
}

.pink-gradient-text-color {
  @apply text-transparent;
  background-clip: text;
  background-image: linear-gradient(267.22deg, #E74694 -2.06%, #64748B 130.32%);
}


